.container_t {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width:800) {
  .container_t {
    flex-direction: column !important;
    align-items: center !important;
    align-self: center !important;
  }
}

.container_t .card_t {
  position: relative;
  cursor: pointer;
}

.container_t .card_t .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  align-self: center !important;
}


.container_t .card_t .face.face1 {
  position: relative;
  background: rgb(78, 75, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container_t .card_t:hover .face.face1 {
  background: #0112428c;
  transform: translateY(0);
}

.container_t .card_t .face.face1 .contentum {
  opacity: 0.6 !important;
  transition: 0.5s;
}

.container_t .card_t:hover .face.face1 .contentum {
  opacity: 1;
}

.container_t .card_t .face.face1 .contentum img {
  max-width: 100px;
  opacity: inherit;
}

.container_t .card_t .face.face1 .contentum h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container_t .card_t .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container_t .card_t:hover .face.face2 {
  transform: translateY(0);
}

.container_t .card_t .face.face2 .contentum p {
  margin: 0;
  padding: 0;
}

.container_t .card_t .face.face2 .contentum a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: rgb(51, 51, 51);
  padding: 5px;
  border: 1px solid rgb(185, 185, 185);
}

.container_t .card_t .face.face2 .contentum a:hover {
  background: rgb(27, 26, 26);
  color: #fff;
}


span.shadow-fade {
  opacity: 0.87;
  transition-delay: -2.45s !important;
  text-shadow: 0 0.1em 10px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}

@media only screen and (max-width: 1000px) {
  span.shadow-fade {
    opacity: 0.87;
    font-size: 56px;
    margin-text: -30%;
    display: inline-flex;
    text-shadow: 0 0.1em 10px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
  }
}

/*           */
/*           */
/*           */
/*           */
/*           */
/*           */

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* The style below is just for the appearance of the example div */

.style {
  width: 90vw;
  height: 90vh;
  text-align: center;
  padding-top: calc(50vh - 50px);
  margin-left: 5vw;
  border: 4px double #F00;
  background-color: #000;
}



@media only screen and (max-wodth:600) {
  .footer-lava .contentum {
    margin: 20px 0 !important;
  }
}

.footer-lava {
  z-index: 1;
  --footer-background: gray;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}

.footer-lava .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}

.footer-lava .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

@media only screen and (max-width: 600) {
  .bubbles {
    visibility: hidden !important;
  }


  .contentum {
    background-color: #000 !important;
  }
}

.footer-lava .contentum {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}

.footer-lava .contentum,
.footer-lava .contentum {
  color: #F5F7FA;
  text-decoration: none;
}

.footer-lava .contentum b {
  color: white;
}

.footer-lava .contentum {
  margin: 0 !important;
}

.footer-lava .contentum>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-lava .contentum>div>div {
  margin: 0.25rem 0;
}

.footer-lava .contentum>div>div>* {
  margin-right: 0rem;
}

.footer-lava .contentum>div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {

  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }

  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {

  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }

  100% {
    width: 0rem;
    height: 0rem;
  }
}

@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }

  100% {
    bottom: var(--distance, 10rem);
  }
}

@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }

  100% {
    bottom: var(--distance, 10rem);
  }
}


@charset "UTF-8";

/*PEN STYLES*/
* {
  box-sizing: border-box;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 6px 14px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 15px;
  overflow: hidden;
  z-index: 10;
  min-height: 300px;
  color: #4d4c4c !important;
}

.blog-card {
  color: inherit;
}

.blog-card :hover {
  color: #000;
}

.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.blog-card .details {
  -webkit-text-decoration: dotted underline;
  text-decoration: dotted underline;
}

.blog-card .details ul li {
  display: inline-block;
}

.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}

.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}

.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "";
  margin-right: 10px;
}

.blog-card .details .tags li {
  margin-right: 2px;
}

.blog-card .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more :after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more :hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover .details {
  left: 0%;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }

  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .blog-card.alt {
    flex-direction: row-reverse;
  }

  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .blog-card.alt .details {
    padding-left: 25px;
  }
}

iframe {
  overflow: hidden !important;
}